*.iml
.gradle
local.properties
/.idea/*
.DS_Store
/build
/captures
.externalNativeBuild

build/
/app
/appTest
/hookcenter
/replaceandroidsdk
*/.navigation/
/android-sdk-rn/rn-vds-agent/build
/android-sdk-rn/rn-vds-agent/release
**/lint-results*.xml
*/release
/push/
*/.idea/*
/RNDemo/
/RnBpointDemo
/GioAndroidSDK
README.org
*~

demos/

*/build/*
android-sdk-rn/rn-vds-agent/build
android-sdk-rn/rn-vds-agent/release
